/* #vector-col{
    display:none !important;
}

.container{
    padding:5% !important;
}

.contact-text{
    flex:auto 0 0 !important;
    width: 100% !important;
    text-align:center !important;
}

.contact-img{
    border-radius:50% !important;
} */

@media screen and (max-width:790px){
    #vector-col{
    display:none !important;
}

.container{
    padding:5% !important;
}

.contact-text{
    flex:auto 0 0 !important;
    width: 100% !important;
    text-align:center !important;
}

.contact-img{
    border-radius:50% !important;
}

.update-text{
    flex:auto 0 0 !important;
    width: 100% !important;
}
.col-auto{
    width:100% !important;
    text-align:center !important;
    display:initial !important;
    margin-top: 2vh;
}

#main-text{
    text-align:center;
}
}